:root{
    --blue: #3175b7;
    --grey: #3a3a3c;
}


.panel-title.pull-left {
    margin-top: 5px;
}


td.no-data {
    text-align: center;
}

.description{
    resize:none;
}

.page-header > .btn-sm {
    position: relative;
    bottom: 40px;
}

.asterisk {
    color: red;
}

.navbar-default {
    background-color: var(--blue);
}

.footer {
    background-color: var(--grey) !important;
}

.footer > div.container > p.text-muted {
    color: white !important;
}

.navbar-default .navbar-nav > li > a, .navbar-brand {
    color: white !important;
}

.btn-blue {
    background-color: #3175b7;
    border-color: #3175b7;
    color: white;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
    background-color: #2c68a3;
    border-color: #265b8f;
    color: white;
}
.btn-blue.disabled:hover,
.btn-blue.disabled:focus,
.btn-blue.disabled:active,
.btn-blue.disabled.active,
.btn-blue[disabled]:hover,
.btn-blue[disabled]:focus,
.btn-blue[disabled]:active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue:hover,
fieldset[disabled] .btn-blue:focus,
fieldset[disabled] .btn-blue:active,
fieldset[disabled] .btn-blue.active {
    background-color: #3175b7;
    border-color: #3175b7;
}

.btn-grey {
    background-color: #3a3a3c;
    border-color: #3a3a3c;
    color: white;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active {
    background-color: #2d2d2f;
    border-color: #212122;
    color: white;
}
.btn-grey.disabled:hover,
.btn-grey.disabled:focus,
.btn-grey.disabled:active,
.btn-grey.disabled.active,
.btn-grey[disabled]:hover,
.btn-grey[disabled]:focus,
.btn-grey[disabled]:active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey:hover,
fieldset[disabled] .btn-grey:focus,
fieldset[disabled] .btn-grey:active,
fieldset[disabled] .btn-grey.active {
    background-color: #3a3a3c;
    border-color: #3a3a3c;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #2c68a3;
}

#longDescription{
    resize: none;
}

input[readonly] {
    background-color: white !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

textarea[readonly]{
    background-color: white !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

table > tbody > tr[ui-sref] {
    cursor: pointer;
}

table > tbody > tr[ng-click] {
    cursor: pointer;
}

.ng-touched.ng-invalid {
    border: 1px solid red;
}
