.small-input {
    width: 55px;
}
.big-input {
    width: 250px;
}

.normal-input {
    width: 90px;
}

.buffer-top {
    margin-top: 10px;
}

.button-spacing {
    margin-right: 10px;
}

.fix-label {
    width: 140px;
    max-width: none;
}

.remove-left-padding {
    padding-left: 0px;
}
