<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
      <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/dashboard.css">
    <link rel="stylesheet" href="styles/view.css">
    <link rel="stylesheet" href="styles/clients.css">

    <!-- endbuild -->
  </head>
  <body ng-app="intoInternetCrmApp" ng-attr-id="{{ isAuthenticated ? 'authenticated' : 'unauthenticated' }}">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <header-menu ng-if="isAuthenticated"></header-menu>

    <div class="container" ui-view></div>

    <footer-part ng-if="isAuthenticated"></footer-part>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ng-iban/dist/ng-iban.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/config.js"></script>
        <script src="scripts/services/token.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/services/constants/auth_events.js"></script>
        <script src="scripts/services/constants/user_roles.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/order.js"></script>
        <script src="scripts/services/product.js"></script>
        <script src="scripts/services/btw.js"></script>
        <script src="scripts/directives/headermenu/headermenu.js"></script>
        <script src="scripts/directives/footerpart/footerpart.js"></script>
        <script src="scripts/controllers/clients.js"></script>
        <script src="scripts/controllers/orders.js"></script>
        <script src="scripts/controllers/addOrder.js"></script>
        <script src="scripts/controllers/order.js"></script>
        <script src="scripts/services/configurationSettings.js"></script>
        <script src="scripts/controllers/products.js"></script>
        <script src="scripts/services/client.js"></script>
        <script src="scripts/controllers/product.js"></script>
        <script src="scripts/controllers/client.js"></script>
        <script src="scripts/services/contactperson.js"></script>
        <script src="scripts/controllers/tickets.js"></script>
        <script src="scripts/services/ticket.js"></script>
        <script src="scripts/services/invoice.js"></script>
        <!-- endbuild -->
</body>
</html>
