<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Klanten</h3>
                <button class="btn btn-sm btn-blue pull-right" ui-sref="client({id: 'new'})">Nieuw</button>
                <div class="clearfix"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped dataTable" id="clients">
                    <thead>
                    <tr>
                        <th>Klantnummer</th>
                        <th>Bedrijfsnaam</th>
                        <th>E-mail</th>
                        <th>Plaats</th>
                        <th>Telefoonnummer</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr ng-if="clients.length == 0 && clients.$resolved">
                            <td colspan="5" class="text-center">Er zijn nog geen klanten toegevoegd.</td>
                        </tr>

                        <tr ng-if="!clients.$resolved">
                            <td colspan="5" class="text-center"><i class='fa fa-circle-o-notch fa-spin'></i> De klanten worden opgehaald..</td>
                        </tr>
                        <tr ng-repeat="client in clients" ui-sref="client({ id: client.clientnumber })">
                            <td>{{ client.clientnumber }}</td>
                            <td>{{ client.name }}</td>
                            <td>{{ client.email }}</td>
                            <td>{{ client.city }}</td>
                            <td>{{ client.phonenumber }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
