<div class="page-header">
    <h2>{{ client.clientnumber == null ? 'Nieuwe klant' : client.name }}</h2>
    <button class="btn btn-sm btn-blue pull-right" ng-if="readOnly && client.clientnumber != null" ng-click="edit()">Wijzigen</button>
    <button class="btn btn-sm btn-blue pull-right" id="btnSaveClient" ng-if="!readOnly || client.clientnumber == null" ng-click="save()" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">Opslaan</button>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Klant</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" name="clientForm">
                    <div class="form-group">
                        <label for="username" class="col-sm-5 control-label">Gebruikersnaam <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="username" ng-model="client.username" required="required" readonly ng-disabled="client.clientnumber != null">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-5 control-label">Wachtwoord <span class="asterisk" ng-if="new">*</span></label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="password" ng-model="client.password" ng-required="new" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="repeatPassword" class="col-sm-5 control-label">Wachtwoord herhalen <span class="asterisk" ng-if="new">*</span></label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="repeatPassword" ng-model="client.repeatPassword" ng-required="new" readonly>
                        </div>
                    </div>


                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Bedrijf</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" name="companyForm">
                    <div class="form-group">
                        <label for="companyName" class="col-sm-5 control-label">Bedrijfsnaam <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="companyName" ng-model="client.name" required="required" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="street" class="col-sm-5 control-label">Straat <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="street" ng-model="client.street" required="required" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="housenumber" class="col-sm-5 control-label">Nummer & toevoeging <span class="asterisk">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="housenumber" ng-model="client.housenumber" required="required" readonly placeholder="Huisnummer">
                        </div>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="extension" ng-model="client.extension" readonly placeholder="Toevoeging">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="zipcode" class="col-sm-5 control-label">Postcode & plaats <span class="asterisk">*</span></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="zipcode" ng-model="client.zip" required="required" readonly placeholder="Postcode">
                        </div>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="city" ng-model="client.city" required="required" readonly placeholder="Plaats">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="coc" class="col-sm-5 control-label">KvK nummer <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="coc" ng-model="client.coc" required="required" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-sm-5 control-label">E-mailadres <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" id="email" ng-model="client.email" required="required" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phonenumber" class="col-sm-5 control-label">Telefoonnummer <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="phonenumber" ng-model="client.phonenumber" required="required" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Bank</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" name="bankForm">
                    <div class="form-group">
                        <label for="iban" class="col-sm-5 control-label">IBAN <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="iban" ng-model="client.iban" required="required" readonly ng-iban>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bic" class="col-sm-5 control-label">BIC <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="bic" ng-model="client.bic" required="required" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default" ng-if="new">
            <div class="panel-heading">
                <h3 class="panel-title">Contactpersoon</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="title" class="col-sm-5 control-label">Titel <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="title" ng-model="client.contactperson.title" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="role" class="col-sm-5 control-label">Afdeling <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="role" ng-model="client.contactperson.role" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="initials" class="col-sm-5 control-label">Initialen <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="initials" ng-model="client.contactperson.initials" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="firstname" class="col-sm-5 control-label">Voornaam <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="firstname" ng-model="client.contactperson.firstname" required="required">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="lastname" class="col-sm-5 control-label">Achternaam <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="lastname" ng-model="client.contactperson.lastname" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="companyName1" class="col-sm-5 control-label">Bedrijfsnaam</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="companyName1" ng-model="client.contactperson.companyname">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="street1" class="col-sm-5 control-label">Straat <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="street1" ng-model="client.contactperson.street" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="housenumber1" class="col-sm-5 control-label">Nummer & toevoeging <span class="asterisk">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="housenumber1" ng-model="client.contactperson.housenumber" required="required" placeholder="Huisnummer">
                        </div>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="extension1" ng-model="client.contactperson.extension" placeholder="Toevoeging">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="zipcode1" class="col-sm-5 control-label">Postcode & plaats <span class="asterisk">*</span></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="zipcode1" ng-model="client.contactperson.zip" required="required" placeholder="Postcode">
                        </div>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="city1" ng-model="client.contactperson.city" required="required" placeholder="Plaats">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email1" class="col-sm-5 control-label">E-mailadres <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" id="email1" ng-model="client.contactperson.email" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phonenumber1" class="col-sm-5 control-label">Telefoonnummer <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="phonenumber1" ng-model="client.contactperson.phonenumber" required="required">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default" ng-if="!new">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Contactpersonen</h3>
                <button class="btn btn-sm btn-blue pull-right" ng-click="newContactperson();">Nieuw</button>
                <div class="clearfix"></div>
            </div>

            <table class="table table-striped dataTable">
                <thead>
                    <tr>
                        <th>Bedrijfsnaam</th>
                        <th>Titel</th>
                        <th>Afdeling</th>
                        <th>Naam</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cp in client.contactpersons" ng-click="viewContactperson(cp);">
                        <td>{{ cp.companyname }}</td>
                        <td>{{ cp.title }}</td>
                        <td>{{ cp.role }}</td>
                        <td>{{ cp.firstname + ', ' + cp.lastname }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Orders</h3>
                <button class="btn btn-sm btn-blue pull-right" ui-sref="orderClient({ id: 'new', clientnumber: client.clientnumber})">Nieuw</button>
                <div class="clearfix"></div>
            </div>

            <table class="table table-striped dataTable">
                <thead>
                <tr>
                    <th>Ordernummer</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in client.orders" ui-sref="order({ id: order.ordernumber })">
                    <td>{{ order.ordernumber }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="editContactpersonModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ (contactperson.firstname !== undefined && contactperson.lastname !== undefined) ? contactperson.firstname + ', ' + contactperson.lastname : 'Contactpersoon aanmaken' }}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="contactpersonForm">
                    <div class="form-group">
                        <label for="title1" class="col-sm-5 control-label">Titel <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="title1" ng-model="contactperson.title" required="required" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="role1" class="col-sm-5 control-label">Afdeling <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="role1" ng-model="contactperson.role" required="required" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="initials1" class="col-sm-5 control-label">Initialen <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="initials1" ng-model="contactperson.initials" required="required" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="firstname1" class="col-sm-5 control-label">Voornaam <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="firstname1" ng-model="contactperson.firstname" required="required" readonly>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="lastname1" class="col-sm-5 control-label">Achternaam <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="lastname1" ng-model="contactperson.lastname" required="required" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="companyName11" class="col-sm-5 control-label">Bedrijfsnaam</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="companyName11" ng-model="contactperson.companyname" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="street11" class="col-sm-5 control-label">Straat <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="street11" ng-model="contactperson.street" required="required" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="housenumber11" class="col-sm-5 control-label">Nummer & toevoeging <span class="asterisk">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="housenumber11" ng-model="contactperson.housenumber" required="required" readonly placeholder="Huisnummer">
                        </div>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="extension11" ng-model="contactperson.extension" readonly placeholder="Toevoeging">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="zipcode11" class="col-sm-5 control-label">Postcode & plaats <span class="asterisk">*</span></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="zipcode11" ng-model="contactperson.zip" required="required" readonly placeholder="Postcode">
                        </div>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="city11" ng-model="contactperson.city" required="required" readonly placeholder="Plaats">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email11" class="col-sm-5 control-label">E-mailadres <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" id="email11" ng-model="contactperson.email" required="required" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phonenumber11" class="col-sm-5 control-label">Telefoonnummer <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="phonenumber11" ng-model="contactperson.phonenumber" required="required" readonly>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-blue" ng-if="readOnly && contactperson.contactpersonnumber != null" ng-click="edit()">Wijzigen</button>
                <button type="button" class="btn btn-danger" id="btnRemoveContactperson" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>" ng-if="readOnly && contactperson.contactpersonnumber !== undefined" ng-click="removeContactperson()">Verwijderen</button>
                <button type="button" class="btn btn-blue" id="btnSaveContactperson" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>" ng-if="!readOnly || contactperson.contactpersonnumber === undefined" ng-click="saveContactperson()">Opslaan</button>
            </div>
        </div>
    </div>
</div>
