<img src="images/logo.png" style="width: 30%;position: relative;left: 35%;margin-bottom: -270px;">

<form class="form-signin" name="loginForm" ng-submit="loginForm.$valid && authenticate();">
    <label for="username" class="sr-only">Gebruikersnaam</label>
    <input type="text" id="username" ng-model="username" class="form-control" placeholder="Gebruikersnaam" required autofocus>
    <label for="password" class="sr-only">Wachtwoord</label>
    <input type="password" id="password" ng-model="password" class="form-control" placeholder="Wachtwoord" required>
    <br />
    <button class="btn btn-lg btn-grey btn-block" type="submit">Inloggen</button>
</form>
