<div class="row">
    <div class="col-md-12">
        <h3>Voeg order toe</h3>
    </div>
    <form novalidate class="simple-form">
        <div class="form-group col-md-12">
            <label for="orderClient">Klantnummer:</label><br />
            <input class="form-inline" type="text" id="orderClient" ng-model="order.clientNumber" disabled required/>
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#clientModal">
                Selecteer Klant
            </button>
            <hr class="divider">
            <label for="orderPlanningDate">Afspraakdatum:</label>
            <input class="form-control" type="date" id="orderPlanningDate" ng-model="order.appointment.date"/>
            <label for="orderAppointmentDesc">Beschrijving afspraak:</label>
            <input class="form-control" type="text" id="orderAppointmentDesc" ng-model="order.appointment.desc"/>
            <label for="orderAppointmentEst">Verwachtte benodigde tijd:</label>
            <input class="form-control" type="time" id="orderAppointmentEst" ng-model="order.appointment.estimation"/>
            <hr class="divider">
            <label for="orderBillingDate">Facturatie Datum:</label>
            <input class="form-control" type="date" id="orderBillingDate" ng-model="order.billingDate" required/>
            <label for="orderBillingInterval">Facturatie Interval:</label>
            <select ng-model="order.billingInterval" id="orderBillingInterval" class="form-control">
                <option value="1m" selected="selected">maandelijks</option>
                <option value="2m">twee maandelijks</option>
            </select>
        </div>
    </form>
</div>
<hr class="divider">
<div class="row">
    <form novalidate class="simple-form">
        <div class="form-group">
            <div ng-repeat="input in inputs">
                <div ng-show="(input.number)%3 === 0 && input.number!=0" class="col-md-12">
                    <hr class="divider">
                </div>
                <div class="col-md-4">
                    <label for="product">Product:</label>
                    <select ng-model="input.productnumber" ng-change="verifyDuplicate(input)" class="form-control" id="product">
                        <option ng-repeat="product in products" value="{{product.productnumber}}">{{product.name}}</option>
                    </select>
                    <label for="productDiscount">Korting:</label>
                    <input class="form-control" type="number" id="productDiscount" ng-model="input.discount"/>
                    <br />
                    <button class="btn btn-danger" id="delete" ng-show="input.number!=0" ng-click="removeProduct(input)">X</button>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="divider">
                <button class="btn btn-success" ng-click="addProduct()">Voeg Product Toe</button>
            </div>
        </div>
    </form>
</div>
<hr class="divider">
<div class="row">
    <div class="col-md-12">
        <input class="btn btn-success"  type="submit" ng-click="submitOrder(order)" value="Voeg Order Toe"/>
    </div>
</div>
<hr>

<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Selecteer een Klant</h4>
            </div>
            <div class="modal-body">
                <select ng-model="clientNumber" class="form-control" id="client">
                    <option ng-repeat="client in clients" value="{{client.clientnumber}}">{{client.name}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="order.clientNumber=clientNumber">Kies klant</button>
            </div>
        </div>
    </div>
</div>
