<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Orders</h3>
                <button class="btn btn-sm btn-blue pull-right" ui-sref="order({ id: 'new' })">Nieuw</button>
                <div class="clearfix"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped dataTable" id="orders">
                    <thead>
                    <tr>
                        <th>Ordernummer</th>
                        <th>Klant</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="order in orders" ui-sref="order({ id: order.ordernumber })">
                        <td>{{ order.ordernumber }}</td>
                        <td>{{ order.name }}</td>
                    </tr>
                    <tr ng-if="orders.length == 0 && orders.$resolved">
                        <td colspan="2" class="text-center">Geen orders beschikbaar.</td>
                    </tr>

                    <tr ng-if="!orders.$resolved">
                        <td colspan="2" class="text-center"><i class='fa fa-circle-o-notch fa-spin'></i> Orders worden opgehaald..</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
