    <div class="page-header">
    <h2> {{ product.name == null ? 'Nieuw product' : product.name }} </h2>
    <button class="btn btn-sm btn-blue pull-right" ng-if="readOnly && product.productnumber != null" ng-click="edit()">Wijzigen</button>
    <button class="btn btn-sm btn-blue pull-right" id="btnSaveProduct" ng-if="!readOnly || product.productnumber == null" ng-click="save()" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">Opslaan</button>
    <button class="btn btn-sm btn-blue pull-right" id="btnDelProduct" ng-if="!new" ng-click="delete()">Verwijderen</button>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Productinfo</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" name="productForm">
                    <div class="form-group">
                        <label for="productName" class="col-sm-5 control-label">Productnaam<span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="productName" ng-model="product.name" required="required" readonly>
                        </div>
                    </div>

                    <div ng-show="!new" class="form-group">
                        <label for="productNumber" class="col-sm-5 control-label">Productnummer<span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="productNumber" disabled ng-model="product.productnumber" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price" class="col-sm-5 control-label">Prijs<span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="price" ng-model="product.price" required="required" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="vat" class="col-sm-5 control-label">BTW code<span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <select class="form-control" ng-options="opt.btw as opt.btw for opt in getBTW" ng-model="product.btw"  ng-model="product.btw"  id="vat" name="vat" disabled></select>
                            <!--<input type="text" class="form-control" id="vat" ng-model="product.btw" required="required" readonly>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-sm-5 control-label">Korte beschrijving<span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="description" ng-model="product.description" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="longDescription" class="col-sm-5 control-label">Lange beschrijving<span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <textarea class="form-control" rows="4" cols="50" id="longDescription" ng-model="product.longdescription" readonly></textarea>
                        </div>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<label for="state" class="col-sm-5 control-label">Status</label>-->
                        <!--<div class="col-sm-7">-->
                            <!--<input type="checkbox"/>-->
                        <!--</div>-->
                    <!--</div>-->
                </form>
            </div>
        </div>
    </div>
</div>
