<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Producten</h3>
                <button class="btn btn-sm btn-blue pull-right" ui-sref="product({ id:'new' })">Nieuw</button>
                <div class="clearfix"></div>
            </div>
            <div class="table-responsive">
                <ul>
                    <li ng-repeat="product in getProducts">{{product.productnumber}}</li>
                </ul>
                <table class="table table-striped dataTable" id="products">
                    <thead>
                        <tr>
                            <th>Productnummer</th>
                            <th>Naam</th>
                            <th>Korte omschrijving</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-if="products.length == 0 && products.$resolved">
                            <td colspan="3" class="text-center">Geen producten beschikbaar.</td>
                        </tr>

                        <tr ng-if="!products.$resolved">
                            <td colspan="3" class="text-center"><i class='fa fa-circle-o-notch fa-spin'></i> De producten worden opgehaald..</td>
                        </tr>

                        <tr ng-repeat="product in products" ui-sref="product({id: product.productnumber})">
                            <td>{{product.productnumber}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
