<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Tickets</h3>
                <!--<button class="btn btn-sm btn-blue pull-right" ui-sref="order({ id: 'new' })">Nieuw</button>-->
                <div class="clearfix"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped dataTable" id="orders">
                    <thead>
                    <tr>
                        <th>Ticketnummer</th>
                        <th><style class="glyphicon glyphicon-ok"></style></th>
                        <th>Client</th>
                        <th>Vraag</th>
                        <th>Antwoord</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="ticket in tickets">
                        <td>{{ ticket.ticketnumber }}</td>
                        <td>
                            <style ng-hide="ticket.solution==null" class="glyphicon glyphicon-ok"></style>
                            <style ng-show="ticket.solution==null" class="glyphicon glyphicon-remove"></style>
                        </td>
                        <td>{{ ticket.clientnumber }}</td>
                        <td>{{ ticket.inquiry }}</td>
                        <td>{{ ticket.solution }}</td>
                    </tr>
                    <tr ng-if="tickets.length == 0 && tickets.$resolved">
                        <td colspan="2" class="text-center">Geen tickets beschikbaar.</td>
                    </tr>

                    <tr ng-if="!tickets.$resolved">
                        <td colspan="2" class="text-center"><i class='fa fa-circle-o-notch fa-spin'></i> Tickets worden opgehaald..</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
