<div class="page-header">
        <h3 class="">Order inzien</h3>
        <button class="btn btn-sm btn-danger pull-right" ng-if="order.invoice.mayEdit == 0" ng-click="deleteOrder()">Verwijderen</button>
        <button class="btn btn-sm btn-blue pull-right button-spacing" ng-if="readOnly == true && order.invoice.mayEdit == 0" ng-click="editOrder()">Wijzigen</button>
        <button class="btn btn-sm btn-blue pull-right button-spacing" id="btnSaveOrder" ng-if="readOnly == false && order.invoice.mayEdit == 0" ng-click="saveOrder()" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">Bekijken</button>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <label class="buffer-top" for="clientname">Klantnaam</label>
            <p>{{order.clientname}}</p>
            <!--<input class="big-input form-control" type="text" id="clientname" value="{{order.clientname}}" readonly>-->
        </div>
        <div class="row">
            <label class="buffer-top" for="coc">KvK Nummer</label>
            <p>{{order.coc}}</p>
            <!--<input class="big-input form-control" type="text" id="coc" value="{{order.coc}}" readonly>-->
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Productgegevens</h3>
                <button class="btn btn-sm btn-blue pull-right" ng-if="!readOnly" data-toggle="modal" data-target="#addProduct">Nieuw product</button>
                <div class="clearfix"></div>
            </div>
                <!--<div class="panel-body">-->
                    <!--<div class="row">-->
                        <table class="table table-striped dataTable" id="orders">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Beschrijving</th>
                                <th>Prijs</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-click="viewConfig(product)" ng-repeat="product in order.products">
                                <td>{{product.productname}}</td>
                                <td>{{product.description}}</td>
                                <td>{{product.price | currency : "€"}}</td>
                            </tr>
                            </tbody>
                        </table>
                    <!--</div>-->
                <!--</div>-->
                </div>
            </div>
</div>

<hr class="divider">
<div class="row buffer-top">
    <div class="col-sm-6">
        <div class="panel panel-default row">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Factuurgegevens</h3>
                <button class="btn btn-sm btn-blue pull-right" ng-click="getInvoice();">Factureer</button>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="price">Prijs</label> <br />
                        <p>{{ totalPrice | currency : "€"}}</p>
                        <!--<input class="normal-input form-control" type="number" id="price" placeholder="{{ totalPrice | currency : '€'}}" readonly>-->
                    </div>
                    <div class="col-sm-2">
                        <label for="discount">Korting</label>
                        <p>{{ totalDiscount | currency : "€"}}</p>
                        <!--<input class="normal-input form-control" type="number" id="discount" placeholder="{{totalDiscount | currency : '€'}}" readonly>-->
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-4">
                        <label class="buffer-top" for="iban">IBAN</label>
                        <p>{{order.iban}}</p>
                        <!--<input class="big-input form-control" type="text" id="iban" value="{{order.iban}}" readonly>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="fix-label buffer-top" for="nextInvoice">Ingang facturatie</label>
                        <p>{{order.billingdate | date:'dd-MM-yyyy' }}</p>
                        <!--<form class="simple-form">-->
                            <!--<input ng-class="{true: 'remove-left-padding'}[readOnly == true]"class="big-input form-control" type="date" id="nextInvoice" ng-model="billingdate" ng-readonly="readOnly">-->
                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Afspraak</h3>
                <button class="btn btn-sm btn-blue pull-right top" ng-if="!readOnly" data-toggle="modal" data-target="#addPlanning">Nieuwe afspraak</button>
                <div class="clearfix"></div>
            </div>
            <!--<div class="panel-body">-->
                <!--<div class="row">-->
                    <table class="table table-striped dataTable" id="planning">
                        <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Beschrijving</th>
                            <th>Tijdsduur</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="appointment in order.appointments">
                            <td>{{appointment.appointmentdate | date:'dd-MM-yyyy' }}</td>
                            <td>{{appointment.description}}</td>
                            <td>{{appointment.estimation}}</td>
                        </tr>
                        </tbody>
                    </table>
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>

<div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="addProductToOrder">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addProductToOrder">Product toevoegen</h4>
            </div>
            <div class="modal-body">
                <form novalidate class="simple-form">
                    <label for="product">Product:</label>
                    <select ng-model="input.productnumber" ng-change="verifyDuplicate(input)" class="form-control" id="product">
                        <option ng-repeat="product in products" value="{{product.productnumber}}">{{product.name}}</option>
                    </select>
                    <label for="productDiscount">Korting:</label>
                    <input class="form-control" type="number" id="productDiscount" ng-model="input.discount"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#deleteModal" ng-click=saveProduct()>Toevoegen</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPlanning" tabindex="-1" role="dialog" aria-labelledby="addPlanningsdateToOrder">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addPlanningsdateToOrder">Afspraak toevoegen</h4>
            </div>
            <div class="modal-body">
                <label for="orderPlanningDate">Datum</label>
                <input class="form-control" type="date" id="orderPlanningDate" ng-model="planning.date">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#deleteModal" ng-click=savePlanning()>Toevoegen</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="ProductModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ProductModalLabel">Configuratiegegevens: {{ selectedProduct.productname }}</h4>
            </div>
            <div class="modal-body">
                <div ng-show='selectedProduct.configSettings.length == 0'>Er zijn geen configuratiegegevens voor dit product bekend.</div>
                <div class="row" ng-repeat="config in selectedProduct.configSettings">
                    <div class="col-sm-3">
                        <b>
                            <input type="text" class="form-control" id="configname" ng-model="config.configname" ng-readonly="readConfigSettingsOnly" required>
                        </b>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="configdescription" ng-model="config.configdescription" ng-readonly="readConfigSettingsOnly" required>
                    </div>
                    <div class="col-sm-1" style="margin-top: 7px;" ng-show="!readConfigSettingsOnly" ng-click="deleteConfigSettings(config)">
                        <span style="color: #f20000" class="glyphicon glyphicon-minus"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-show="!readConfigSettingsOnly" ng-click="addConfigRow()">Toevoegen</button>
                <button type="button" class="btn btn-primary" ng-show="readConfigSettingsOnly" ng-click="editConfigSettings()">Wijzigen</button>
                <button type="button" class="btn btn-primary" id="btnSaveConfigDetails" ng-show="!readConfigSettingsOnly" ng-click="saveConfigurationSettings(selectedProduct.productnumber)">Opslaan</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeConfigSettings()">Sluiten</button>
            </div>
        </div>
    </div>
</div>
